:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 375px;
    height: auto;
    --lbrown: #7A5635;
    --dbrown: #3B3128;
    --dblue: #356C7A;
    --lblue: #9EC5CF;
    --pink: #FAE9D9;
    --mobilesw: 320px;
    --mobilemw: 375px;
    --mobilelw: 425px;
    --tabletw: 768px;
    --laptopw: 1024px;
    --laptoplw: 1440px;
    --desktop: 2560px;

}
body{
    padding: 0;
    margin: 0;
    width: var(--mobilemw);
    height: auto;
    
}

.menu:active{
    animation-play-state: running;
}

.menu{
   width: var(--mobilemw);
   position: fixed;
   border-top: 30px solid var(--pink);
   animation-name: menu-animation;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   animation-play-state: paused;
}
.internal-nav{
    display: none;
    

}
.menu-icon{
    max-width: 8vw;
    max-height: auto;
    background-color: var(--pink);
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    transform: translatey(-30px);
}

@keyframes menu-animation{
    from {height: auto;}
    to{height: 100%; background-color: var(--lbrown); z-index: 1;}
}
  
.office{
    width: var(--mobilemw);
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;

}
.counseling-serv, .list-of-serv, .background-mywork{
    display: none
}

