body{
    margin: 0;
    width: 375px;
    height: auto;
    
}
.menu{
   min-width: 375px;
   position: fixed;
}
.internal-nav{
    display: none;

}
.menu-icon{
    max-width: 100px;
    max-height: auto;
    border: 2px solid #7A5635;
    background-color: #C79769;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 10px;
}
.office{
    width: 375px;
    height: 700px;
    object-fit: cover;
    

}